@page "/"

<div class="d-flex flex-column w-100 mb-4 mt-2">
    <h1>Welcome to NetTools</h1>
    <h3>Use the buttons at the top to get started.</h3>
</div>

<div class="d-flex flex-column gap-2">
    <div>
        <h4>What files can be uploaded?</h4>
        <p>
            Upload boxes accept either a single <code>.json</code> file or a <code>.zip</code> file containing a collection of <code>.json</code> files.
            <br/>
            These files can be obtained by passing the output of either traceroute/ping through <code>jc</code>, and using the output as the file content.
            The <code>timestamp</code> key needs to be added containing the unix epoch to all files when submitting a .zip file to allow grouping by date.
        </p>
    </div>
    <div>
        <h4>What data is sent over the internet?</h4>
        <p>
            All processing is done on-device (this is a WebAssembly program) except geolocation data where needed (i.e. traceroute).
            <br/>
            You will need to <strong>ensure HTTP mixed content is allowed</strong> on your browser otherwise these requests will fail.
        </p>
    </div>
</div>
