@using System.Reflection
@inherits LayoutComponentBase

<div class="px-5 my-3">
    <nav class="d-flex align-items-center gap-4">
        <div class="d-flex align-items-center gap-2" role="button" @onclick="OpenHome">
            <span>NetTools</span>
            <HxBadge Color="ThemeColor.Info">@($"v{_version}")</HxBadge>
        </div>
        <div class="vr"></div>
        <HxButton Outline="true" CssClass="text-decoration-none" Color="ThemeColor.Link" OnClick="OpenHome" Text="Home"/>
        <HxButton Outline="true" CssClass="text-decoration-none" Color="ThemeColor.Link" OnClick="OpenPing" Text="Ping"/>
        <HxButton Outline="true" CssClass="text-decoration-none" Color="ThemeColor.Link" OnClick="OpenTraceroute" Text="Traceroute"/>
    </nav>
    <hr/>
</div>

<div class="px-5">
    <RatelimitWarningAlert/>
    
    @Body
</div>

<footer class="d-flex flex-column align-items-center gap-1 py-3 text-muted">
    <span style="font-size: medium">&middot; &middot; &middot; &middot; &middot;</span>
    <small>NetTools @($"v{_version}") powered by Blazor WebAssembly @Environment.Version.ToString()</small>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">&times;</a>
</div>

@code {

    private readonly string _version = Assembly.GetExecutingAssembly().GetName().Version?.ToString(2);
    
    [Inject]
    private NavigationManager Navigation { get; set; }

    private void OpenHome() => Navigation.NavigateTo("/");
    private void OpenPing() => Navigation.NavigateTo("/ping");
    private void OpenTraceroute() => Navigation.NavigateTo("/traceroute");

}