@inherits LayoutComponentBase

<div class="px-5 my-3">
    <nav class="d-flex align-items-center gap-4">
        <HxButton Outline="true" CssClass="text-decoration-none" Color="ThemeColor.Link" OnClick="OpenHome" Text="Home"/>
        <HxButton Outline="true" CssClass="text-decoration-none" Color="ThemeColor.Link" OnClick="OpenPing" Text="Ping"/>
        <HxButton Outline="true" CssClass="text-decoration-none" Color="ThemeColor.Link" OnClick="OpenTraceroute" Text="Traceroute"/>
    </nav>
    <hr/>
</div>

<div class="px-5">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">&times;</a>
</div>

@code {

    [Inject] private NavigationManager Navigation { get; set; }

    private void OpenHome() => Navigation.NavigateTo("/");
    private void OpenPing() => Navigation.NavigateTo("/ping");
    private void OpenTraceroute() => Navigation.NavigateTo("/traceroute");

}