@page "/ping"
@using NetTools.Models
@using NetTools.Components.Ping

<div class="d-flex flex-column gap-2">
    <FileSubmissionComponent TItem="PingResult"
                             TOut="ILookup<string, PingResult>"
                             Current="PingResults"
                             CurrentChanged="SetProcessedItems"
                             ProcessItems="y => y.OrderBy(x => x.Timestamp.GetValueOrDefault()).ToLookup(x => x.Destination)"/>

    @if (PingResults?.Count > 0)
    {
        <HxSelect Label="Host"
                  Data="@PingResults"
                  @bind-Value="SelectedHost"
                  NullText="All Hosts"
                  Nullable=@(PingResults.Count > 1)
                  TextSelector="@(a => a.Key)"
                  ValueSelector="@(a => a)"/>
    }

    <div class="gap-4" style="display: grid; grid-template-columns: 1fr">
        @* spacing *@
        <div></div>

        @switch (SelectedHost)
        {
            // multiple hosts submitted, show aggregate responses
            case null when PingResults != null:
                <HostAggregateSummary HostResponses="PingResults"/>
                break;

            // multiple ping results uploaded - show aggregate statistics
            case not null when SelectedHost.Count() > 1:
                <SingleHostMultiResultsDisplay HostPingResults="SelectedHost"/>
                break;
                
            // single ping result uploaded - show individual IMCP packets as responses
            case not null:
                <SingleHostSingleResultDisplay Result="@SelectedHost.Single()"/>
                break;
        }
    </div>
</div>