@page "/traceroute"

<div class="d-flex flex-column gap-3">
    <div class="map-container">
        <Map ZoomLevel="3"></Map>
    </div>

    <HxInputFileDropZone Accept="application/zip" OnChange="ProcessArchive" />

</div>