<HxAlert Color="ThemeColor.Danger">
    <div class="d-flex align-items-center gap-2">
        <HxIcon Icon="@BootstrapIcon.ExclamationTriangleFill"/>
        <strong class="ps-3">Mixed Mode Block Detected</strong>
        <span>NetTools was unable to make one or more web requests due to HTTP mixed mode being blocked. Please check your browser settings and try again.</span>
    </div>
</HxAlert>