@using NetTools.Models

<div style="height: 50vh">
    <ApexChart Title="Response Time" Options="_options" @ref="_chart">
        <ApexPointSeries Name="Ping"
                         Items="@(Result.Responses?.Select(x => new PingPoint(x.IMCPSeq, x.TimeMs)) ?? [])"
                         SeriesType="SeriesType.Line"
                         XValue="x => x.Sequence"
                         YValue="@(x => (decimal)x.TimeMs)"/>
    </ApexChart>
</div>

<HostSummaryTable HostResponses="new[] { Result }.ToLookup(x => x.Destination)"/>

@{
    _chart?.RenderAsync();
}

@code {

    private record PingPoint(int Sequence, double TimeMs);
    
    private ApexChart<PingPoint> _chart;
    private ApexChartOptions<PingPoint> _options = new()
    {
        Chart = new Chart { Height = "100%" },
        Theme = new Theme { Mode = Mode.Dark },
        Xaxis = new XAxis { Title = new AxisTitle { Text = "Sequence No." }, TickAmount = 20, Type = XAxisType.Numeric },
        Yaxis =
        [
            new YAxis
            {
                Title = new AxisTitle { Text = "RTT (ms)", Style = new AxisTitleStyle { FontSize = "14px" } }
            }
        ]
    };

    [Parameter]
    public PingResult Result { get; set; }

}